@import "styles/colors";


.routerDashboard {
    position: relative;
}

.container {
    display: flex;

    &__sidebar {
        border-right: 1px solid $on-primary;
        height: 100vh;
        max-width: 200px;
    }

    &__main {
        padding: 20px;
        background-color: #eeeef04d;
        height: 89%;
    }

    /*&__navbar {
        border-bottom: 1px solid $on-primary;
    }*/

}

.main {
    width: 100%;
    margin: 0;
}


@media screen and (max-width: 750px) {
    .container__sidebar {
        //display: none;
        visibility: hidden;
    }

    .container__main {
        height: 89vh;
    }
}

.sidebar-close {
    //display: none;
    visibility: hidden;
    width: 0px;
    transition: width .5s
}

.sidebar-open {
    //display: block;
    visibility: visible;
    width: 300px;
    transition: width .5s
}



@media screen and (min-width: 750px) {

    .sidebar-close {
        visibility: visible;
        width: 300px;
        transition: width 2s
    }
}