@import "styles/colors";

.avatar{
    margin-right: 10px;
    color: white;
}

:host ::ng-deep .p-toolbar {
    background-color: #eeeef04d;
}


@media screen and (min-width: 750px) {
   .toogle{
    display: none;
   }
}