@import "styles/fonts";
@import "styles/colors";


.sidebar-container {
    padding: 10px;

    &__title{
        text-align: center;
    }
}

.menu {
    list-style: none;
    padding: 0;
    width: 95%;
    margin: 8px;

    &__item {
        cursor: pointer;
        height: 25px;
    }

    &__title{
        font-size: .7rem;
    }

    &__module{
        padding-left: 10px;
        color: $on-base-dark;
    }
}

.link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    color: $on-base-dark;
    text-decoration: none;

    &:hover {
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        background-color: $on-base-light;
        color: $on-base;
    }

    &:visited{
        background-color: $on-base-light;
    }

    &--actived{
        color: $primary-light;
        &:hover{
            background-color: white;
            color: $primary-light;
        }

    }
}

.icon{
    margin-right: 5px;
}