<div class="sidebar-container">
    <h3 class="sidebar-container__title">InventoryApp</h3>
    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Menu</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link" routerLink="/dashboard/home" routerLinkActive="link--actived">
                
            <fa-icon [icon]="faHouse" class="icon"></fa-icon>
                Dashboard
            </a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Productos</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link" routerLink="/dashboard/product" routerLinkActive="link--actived">
                <fa-icon [icon]="faSquarePlus" class="icon"></fa-icon>
                Producto
            </a>
        </li>
        <li class="menu__item">
            <a href="#" class="link">
                <fa-icon [icon]="faSquareArrowUpRight" class="icon"></fa-icon>
                Catálogo
            </a>
        </li>
    </ul>


</div>