<div class="sidebar-container">
    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Menu</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link" routerLink="/dashboard/home" routerLinkActive="link--actived">Dashboard</a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Productos</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link" routerLink="/dashboard/product" routerLinkActive="link--actived">Producto</a>
        </li>
        <li class="menu__item">
            <a href="#" class="link">Catálogo</a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Negocios</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link">Empresas</a>
        </li>
        <li class="menu__item">
            <a href="#" class="link">Sucursales</a>
        </li>
    </ul>


    <ul class="menu">
        <li class="menu__module">
            <small class="menu__title">Tipo de persona</small>
        </li>
        <li class="menu__item">
            <a href="#" class="link">Clientes</a>
        </li>
        <li class="menu__item">
            <a href="#" class="link">Proveedores</a>
        </li>
    </ul>



</div>

<!--<i class="pi pi-th-large"></i>-->

<!--
    <ul class="sidebar-container__menu">
        <li class="sidebar-container__module">Productos</li>
        <li class="sidebar-container__item">
            <a class="link" routerLink="/dashboard/product" routerLinkActive="sidebar-container__item--actived">
                <i class="pi pi-box"></i>
                <span class="">Productos</span>
            </a>
        </li>
        <li class="sidebar-container__item">
            <a class="link">
                <i class="pi pi-book"></i>
                <span class="">Catálogo</span>
            </a>
        </li>
    </ul>
-->